@keyframes test-animation {
    0% {
        background-color: yellow;
    }
    100% {
        /*height: 400px;
        width: 400px;*/
        transform: scale(2);
        /*background-color: red;*/
    }
}

.div-block {
    margin: 200px;
    height: 200px;
    background-color: white;
    width: 200px;
}

.test-div {
    animation-name: test-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    /*animation-timing-function: steps(2, end);*/
    /*animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;*/
    /*animation-timing-function: linear;
    animation-play-state: running;*/
    /*animation: test-animation 2s linear 1 both;*/
}


/*.test-div:hover {
    animation-play-state: paused;
}*/


/*.test-div {
    height: 200px;
    width: 200px;
    background-color: white;
    transition: width 2s ease .5s, height 2s ease .5s, background-color 2s ease .5s;
}

.test-div:hover {
    background-color: red;
    height: 400px;
    width: 400px;
}*/


/*#test {
    animation-name: none;
    animation-duration: 5s;
}*/