/*基本样式*/
html {
	height: 100%;
	color: white;
}
body {
	background: #161616;
	margin: 0;
	padding: 0;
	font: 12px normal Verdana, Arial, Helvetica, sans-serif;
	height: 100%;
}

#content { 
	width:100%; 
	height:5px; 
	margin:50px auto; 
	background:#000;
}

.fullwidth .expand { 
	width:100%; 
	height:1px; 
	margin:2px 0; 
	background:#2187e7; 
	position:absolute;
	box-shadow:0px 0px 10px 1px rgba(0,198,255,0.7);
	animation-name:fullexpand;
	animation-timing-function: ease-out;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-direction: normal;
}

@keyframes fullexpand {
	0%  { width:0px;}
	100%{ width:100%;}	
}