.border-circle#one {
    animation: border-pulse 1s 3.1s infinite ease;
}

.border-circle#two {
    animation: border-pulse 1s 3.3s infinite ease;
}

.background-circle {
    animation: grow 0.7s 1 ease;
}

.body {
    animation: body-enter 0.7s 0.2s 1 ease;
    animation-fill-mode: forwards;
}

.triangle-dark {
    animation: triangle-dark-anim 1s 3s 1 ease;
    animation-fill-mode: forwards;
}

.triangle-light {
    animation: triangle-light-anim 1s 2.8s 1 ease;
    animation-fill-mode: forwards;
}

.shirt-text:nth-of-type(1) {
    animation: text-anim 0.7s 3s 1 ease forwards;
}

.shirt-text:nth-of-type(2) {
    color: #EF4136;
    animation: text-anim 0.7s 3.1s 1 ease forwards;
}

.shirt-text:nth-of-type(3) {
    animation: text-anim 0.7s 3.2s 1 ease forwards;
}

.shirt-text:nth-of-type(4) {
    animation: text-anim 0.7s 3.3s 1 ease forwards;
}

.shirt-text:nth-of-type(5) {
    animation: text-anim 0.7s 3.4s 1 ease forwards;
}

.head {
    animation: grow 0.7s 0.4s 1 ease, music-move 1s 3.3s infinite alternate ease-in-out;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.15);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes border-pulse {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
        border-width: 0;
        border-style: double;
        margin-left: -200px;
        margin-top: -200px;
    }
}

@keyframes body-enter {
    0% {
        transform: translateY(200px);
    }
    60% {
        transform: translateY(-20px);
    }
    80% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes triangle-light-anim {
    0% {
        transform: translate(200px, 0px);
    }
    100% {
        transform: rotate(45deg) translate(0px, 0px);
    }
}

@keyframes triangle-dark-anim {
    0% {
        transform: translate(-200px, 0px);
    }
    100% {
        transform: rotate(-45deg) translate(0px, 0px);
    }
}

@keyframes text-anim {
    0% {
        transform: translate(0px, 100px);
    }
    60% {
        transform: translate(0px, -20px);
    }
    80% {
        transform: translate(0px, 15px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes music-move {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(-5deg);
    }
    66% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes hair-anim {
    0% {
        height: 0px;
        -webkit-transform: translateY(137px);
        transform: translateY(137px);
    }
    100% {
        height: 137px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes hair-anim
/* Safari and Chrome */

{
    0% {
        height: 0px;
        -webkit-transform: translateY(137px);
        transform: translateY(137px);
    }
    100% {
        height: 137px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes sideburn-anim {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes sideburn-anim
/* Safari and Chrome */

{
    0% {
        opacity: 0;
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes hair-top-anim {
    0% {
        opacity: 0;
        -webkit-transform: translate(-64px, 30px);
        transform: translate(-64px, 30px);
    }
    60% {
        opacity: 1;
        -webkit-transform: rotate(0deg) translate(-64px, 30px);
        transform: rotate(0deg) translate(-64px, 30px);
    }
    80% {
        opacity: 1;
        -webkit-transform: rotate(10deg) translate(-64px, -5px);
        transform: rotate(10deg) translate(-64px, -5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate(0deg) translate(-64px, 0px);
        transform: rotate(0deg) translate(-64px, 0px);
    }
}

@-webkit-keyframes hair-top-anim
/* Safari and Chrome */

{
    0% {
        opacity: 0;
        -webkit-transform: translate(-64px, 30px);
        transform: translate(-64px, 30px);
    }
    60% {
        opacity: 1;
        -webkit-transform: rotate(0deg) translate(-64px, 30px);
        transform: rotate(0deg) translate(-64px, 30px);
    }
    80% {
        opacity: 1;
        -webkit-transform: rotate(10deg) translate(-64px, -5px);
        transform: rotate(10deg) translate(-64px, -5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate(0deg) translate(-64px, 0px);
        transform: rotate(0deg) translate(-64px, 0px);
    }
}

@keyframes hair-bottom-anim {
    0% {
        opacity: 0;
        -webkit-transform: translate(-27px, -40px);
        transform: translate(-27px, -40px);
    }
    60% {
        opacity: 1;
        -webkit-transform: rotate(0deg) translate(-27px, -40px);
        transform: rotate(0deg) translate(-27px, -40px);
    }
    80% {
        opacity: 1;
        -webkit-transform: rotate(10deg) translate(-27px, 5px);
        transform: rotate(10deg) translate(-27px, 5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate(0deg) translate(-27px, 0px);
        transform: rotate(0deg) translate(-27px, 0px);
    }
}

@-webkit-keyframes hair-bottom-anim
/* Safari and Chrome */

{
    0% {
        opacity: 0;
        -webkit-transform: translate(-27px, -40px);
        transform: translate(-27px, -40px);
    }
    60% {
        opacity: 1;
        -webkit-transform: rotate(0deg) translate(-27px, -40px);
        transform: rotate(0deg) translate(-27px, -40px);
    }
    80% {
        opacity: 1;
        -webkit-transform: rotate(10deg) translate(-27px, 5px);
        transform: rotate(10deg) translate(-27px, 5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate(0deg) translate(-27px, 0px);
        transform: rotate(0deg) translate(-27px, 0px);
    }
}

@keyframes eyebrow-anim-right {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    70% {
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate(9deg) translateY(0px);
        transform: rotate(9deg) translateY(0px);
    }
}

@-webkit-keyframes eyebrow-anim-right
/* Safari and Chrome */

{
    0% {
        opacity: 0;
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    70% {
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate(9deg) translateY(0px);
        transform: rotate(9deg) translateY(0px);
    }
}

@keyframes eyebrow-raise {
    0% {
        top: -35px;
    }
    80% {
        top: -35px;
    }
    100% {
        top: -45px;
    }
}

@-webkit-keyframes eyebrow-raise
/* Safari and Chrome */

{
    0% {
        top: -35px;
    }
    80% {
        top: -35px;
    }
    100% {
        top: -45px;
    }
}

@keyframes eyebrow-anim-left {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    70% {
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes eyebrow-anim-left
/* Safari and Chrome */

{
    0% {
        opacity: 0;
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    70% {
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes shadow-anim {
    0% {
        opacity: 0;
        -webkit-transform: translate(98px, 0px);
        transform: translate(98px, 0px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@keyframes note-anim {
    0% {
        opacity: 0;
        -webkit-transform: translate(0px, 50px);
        transform: translate(0px, 50px);
    }
    30% {
        -webkit-transform: rotate(12deg) translate(-30px, 0px);
        transform: rotate(12deg) translate(-30px, 0px);
    }
    45% {
        opacity: 1;
    }
    60% {
        -webkit-transform: rotate(-12deg) translate(30px, -100px);
        transform: rotate(-12deg) translate(30px, -100px);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(0deg) translate(0px, -200px);
        transform: rotate(0deg) translate(0px, -200px);
    }
}

@keyframes eye-blink {
    0% {
        -webkit-transform: scaleY(1) translateY(0px);
        transform: scaleY(1) translateY(0px);
    }
    45% {
        -webkit-transform: scaleY(1) translateY(0px);
        transform: scaleY(1) translateY(0px);
    }
    50% {
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    55% {
        -webkit-transform: scaleY(1) translateY(0px);
        transform: scaleY(1) translateY(0px);
    }
    100% {
        -webkit-transform: scaleY(1) translateY(0px);
        transform: scaleY(1) translateY(0px);
    }
}