.wrapper {
    margin-top: 100px;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.border-circle {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -220px;
    margin-top: -220px;
    border: 20px double #FCB040;
    transform: scale(0);
    transform-origin: center;
    /*box-sizing: border-box;
    margin-left: -200px;
    margin-top: -200px;*/
}

.background-circle {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
    background: #95B3BF;
    position: relative;
    transform-origin: center;
}

.body {
    width: 285px;
    height: 600px;
    margin: 0 auto;
    background: #222;
    border-radius: 100px;
    position: relative;
    top: 200px;
}

.triangle-light {
    width: 400px;
    height: 600px;
    background: #FFFFFF;
    opacity: 0.2;
    position: absolute;
    right: -65%;
    transform: translate(200px, 0px);
}

.triangle-dark {
    width: 400px;
    height: 600px;
    background: #000000;
    opacity: 0.2;
    position: absolute;
    left: -60%;
    top: 30%;
    transform: translate(-200px, 0px);
}

.shirt-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    position: relative;
    top: -300px;
    font-size: 50px;
    display: inline-block;
    -webkit-text-stroke: 2px;
    transform: translate(0px, 100px);
}

.head {
    width: 196px;
    height: 260px;
    border-radius: 50px;
    background: #FFE4BE;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -210px;
    margin-left: -98px;
    transform-origin: bottom;
}

.hair-main {
    width: 220px;
    height: 0px;
    background: #E7AB57;
    border-radius: 54px 54px 0px 0px;
    margin-left: -12px;
    margin-top: -10px;
    animation: hair-anim 0.7s 0.9s 1 ease;
    animation-fill-mode: forwards;
    -webkit-animation: hair-anim 0.7s 0.9s 1 ease;
    -webkit-animation-fill-mode: forwards;
    position: relative;
    z-index: 2;
}

.hair-top {
    width: 128px;
    height: 70px;
    opacity: 0;
    border-top-right-radius: 30px;
    background: #E7AB57;
    position: relative;
    top: -17px;
    left: 50%;
    transform: translateX(-64px);
    -webkit-transform: translateX(-64px);
    transform-origin: right;
    -webkit-transform-origin: right;
    animation: hair-top-anim 0.7s 1s 1 ease;
    animation: hair-top-anim 0.7s 1s 1 ease;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.hair-bottom {
    width: 54px;
    height: 50px;
    opacity: 0;
    border-bottom-left-radius: 25px;
    background: #E7AB57;
    position: relative;
    top: -20px;
    left: 50%;
    transform: translateX(-27px);
    -webkit-transform: translateX(-27px);
    transform-origin: left;
    -webkit-transform-origin: left;
    animation: hair-bottom-anim 0.7s 1.4s 1 ease;
    animation: hair-bottom-anim 0.7s 1.4s 1 ease;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.sideburn {
    width: 8px;
    height: 25px;
    background: #E7AB57;
    position: absolute;
    bottom: -25px;
    opacity: 0;
    animation: sideburn-anim 0.7s 0.9s 1 ease;
    animation-fill-mode: forwards;
    -webkit-animation: sideburn-anim 0.7s 0.9s 1 ease;
    -webkit-animation-fill-mode: forwards;
}

.sideburn#left {
    left: 12px;
}

.sideburn#right {
    right: 12px;
}

.face {
    width: 180px;
    height: 0px;
    border-radius: 48px 48px 0 0;
    background: #FFE4BE;
    position: absolute;
    top: 40px;
    left: 8px;
    animation: hair-anim 0.1s 0.8s 1 linear;
    animation-fill-mode: forwards;
    -webkit-animation: hair-anim 0.1s 0.8s 1 linear;
    -webkit-animation-fill-mode: forwards;
    z-index: 3;
}

.nose {
    width: 20px;
    height: 45px;
    opacity: 1;
    background: #FFE4BE;
    border-top-left-radius: 20px;
    position: absolute;
    left: 50%;
    top: 80px;
    margin-left: -20px;
    animation: shadow-anim 0.7s 3s 1 ease;
    animation-fill-mode: forwards;
    -webkit-animation: shadow-anim 0.7s 3s 1 ease;
    -webkit-animation-fill-mode: forwards;
    opacity: 0;
    z-index: 5;
}

.ear {
    width: 24px;
    height: 35px;
    background: #FFE4BE;
    border-radius: 12px;
    position: absolute;
    top: 116px;
    animation: grow 0.7s 1.3s 1 ease;
    animation-fill-mode: forwards;
    -webkit-animation: grow 0.7s 1.3s 1 ease;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.mouth {
    width: 66px;
    height: 33px;
    border-radius: 0 0 33px 33px;
    background: white;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -33px;
    animation: grow 0.7s 2.6s 1 ease;
    animation-fill-mode: forwards;
    -webkit-animation: grow 0.7s 2.6s 1 ease;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.ear#left {
    left: -12px;
}

.ear#right {
    right: -12px;
}

.eye-shadow {
    width: 30px;
    height: 15px;
    border-radius: 0 0 15px 15px;
    background: rgba(149, 36, 0, 0.1);
    position: absolute;
    top: 70px;
    animation: grow 0.7s 2s 1 ease;
    animation-fill-mode: forwards;
    -webkit-animation: grow 0.7s 2s 1 ease;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.eye-shadow#left {
    left: 35px;
    z-index: 5;
}

.eye-shadow#right {
    right: 35px;
}

.eyebrow {
    width: 40px;
    height: 10px;
    background: #E7AB57;
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -20px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
}

.eye-shadow#left .eyebrow {
    animation: eyebrow-anim-left 0.7s 2.2s 1 ease;
    animation-fill-mode: forwards;
    -webkit-animation: eyebrow-anim-left 0.7s 2.2s 1 ease;
    -webkit-animation-fill-mode: forwards;
}

.eye-shadow#right .eyebrow {
    animation: eyebrow-anim-right 0.7s 2.2s 1 ease, eyebrow-raise 2s 6.6s infinite alternate ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation: eyebrow-anim-right 0.7s 2.2s 1 ease, eyebrow-raise 2s 6.6s infinite alternate ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

.eye {
    width: 20px;
    height: 28px;
    border-radius: 10px;
    background: #334C68;
    position: absolute;
    top: -18px;
    left: 50%;
    margin-left: -10px;
    animation: grow 0.7s 2.2s 1 ease, eye-blink 4s 4.4s infinite linear;
    animation-fill-mode: forwards;
    -webkit-animation: grow 0.7s 2.2s 1 ease, eye-blink 4s 4.4s infinite linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
}

.shadow-wrapper {
    width: 98px;
    height: 260px;
    position: absolute;
    left: -8px;
    bottom: -84px;
    z-index: 4;
    overflow: hidden;
}

.shadow {
    width: 98px;
    height: 260px;
    border-radius: 50px;
    background: rgba(149, 36, 0, 0.1);
    position: absolute;
    z-index: 4;
    opacity: 0;
    animation: shadow-anim 1s 2.8s 1 ease;
    animation-fill-mode: forwards;
    -webkit-animation: shadow-anim 1s 2.8s 1 ease;
    -webkit-animation-fill-mode: forwards;
}

.music-note {
    position: absolute;
    font-size: 150px;
    color: #FCB040;
    width: 1px;
    left: 50%;
    opacity: 0;
}

.music-note#one {
    margin-left: -250px;
    top: 50%;
    animation: note-anim 2s 3.5s infinite ease;
    animation-fill-mode: forwards;
}

.music-note#two {
    margin-left: 150px;
    top: 30%;
    animation: note-anim 2s 4.3s infinite ease;
    animation-fill-mode: forwards;
}