/*基本样式*/
ul#progress {
	list-style:none;
	width:125px;
	margin:0 auto;
	padding-top:50px;
	padding-bottom:50px;
}

ul#progress li {
	float:left;
	position:relative;
	width:15px;
	height:15px;
	border:1px solid #fff;
	border-radius:50px;
	margin-left:10px;
	border-left:1px solid #111; 
    border-top:1px solid #111; 
    border-right:1px solid #333; 
    border-bottom:1px solid #333; 
	background:#000;
}

ul#progress li:first-child { 
    margin-left:0; 
}

/*动画样式*/

.running .ball {
	background-color:#2187e7; 
	background-image: linear-gradient(90deg, #2187e7 25%, #a0eaff); 

	width:15px;
	height:15px;
	border-radius:50px;
	transform:scale(0);	
	animation:loading 1s linear forwards;
}

.running .pulse {
	width:15px;
	height:15px;
	border-radius:30px;
	border: 1px solid #00c6ff;
	box-shadow: 0 0 5px #00c6ff;
	position:absolute;
	top:-1px;
	left:-1px;
	transform:scale(0);	
	animation:pulse 1s ease-out;
}

#layer1 { animation-delay:0.5s; }
#layer2 { animation-delay:1s; }
#layer3 { animation-delay:1.5s; }
#layer4 { animation-delay:2s; }
#layer5 { animation-delay:2.5s; }

#layer7 {  animation-delay:1.5s; }
#layer8 { animation-delay:2s; }
#layer9 { animation-delay:2.5s; }
#layer10 { animation-delay:3s; }
#layer11 { animation-delay:3.5s; }

@keyframes loading {
	0%{transform:scale(0,0);}
	100%{transform:scale(1,1);}	
}

@keyframes pulse {
	0%   {transform: scale(0);opacity: 0;}
	10%  {transform: scale(1);opacity: 0.5;}
    50%  {transform: scale(1.75);opacity: 0;}
    100% {transform: scale(0);opacity: 0;}    
}