html {
	height: 100%;
	color: white;
}

body {
	background: #161616;
	margin: 0;
	padding: 0;
	font: 12px normal Verdana, Arial, Helvetica, sans-serif;
	height: 100%;
}

.tips {
	text-align: center;
	font-size: 20px;
}