@keyframes translate {
    from {
        transform:translate(0,0);
    }
    to{
        transform:translate(20px,20px);
    }
}

@keyframes translate3d {
    from {
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(20px,20px,20px);
    }
}

@keyframes translateX {
    from {
        transform:translateX(0);
    }
    to{
        transform:translateX(20px);
    }
}

@keyframes translateY {
    from {
        transform:translateY(0);
    }
    to{
        transform:translateY(20px);
    }
}

@keyframes translateZ {
    from {
        transform:translateZ(0);
    }
    to{
        transform:translateZ(40px);
    }
}

@keyframes scale {
    from {
        transform:scale(0,0);
    } 
    to {
        transform:scale(1,1);
    }
}

@keyframes scale3d {
    from {
        transform:scale3d(0,0,0);
    }
    to {
        transform:scale3d(1,1,1);
    }
}

@keyframes scaleX{
    from {
        transform:scaleX(0);
    }
    to {
        transform:scaleX(1);
    }
}

@keyframes scaleY{
    from {
        transform:scaleY(0);
    }
    to {
        transform:scaleY(1);
    }
}

@keyframes scaleZ {
    from {
        transform:scaleZ(0.25);        
    }
    to {
        transform:scaleZ(500);        
    }
}

@keyframes rotate {
    from {
        transform:rotate(0);
    }
    to {
        transform:rotate(45deg);
    }
}

@keyframes rotate3d {
    from {
        transform:rotate3d(0,0,0,0);
    }
    to {
        transform:rotate3d(1,1,1,45deg);
    }
}

@keyframes rotateX {
    from {
        transform:rotateX(0);
    }
    to {
        transform:rotateX(45deg);
    }
}

@keyframes rotateY {
    from {
        transform:rotateY(0);
    }
    to {
        transform:rotateY(45deg);
    }
}

@keyframes rotateZ {
    from {
        transform:rotateZ(0);
    }
    to {
        transform:rotateZ(45deg);
    }
}

@keyframes skew {
    from {
        transform:skew(0,0);
    }
    to {
        transform:skew(45deg,45deg);
    }
}

@keyframes skewX {
    from {
        transform:skewX(0);
    }
    to {
    transform:skewX(45deg);
    }
}

@keyframes skewY {
    from {
        transform:skewY(0);
    }
    to {
    transform:skewY(45deg);
    }
}

@keyframes perspective {
    from {
        transform:scaleZ(0);
    }
    to {
        transform:scaleZ(1);
    }
}