@keyframes moveTop {
    from {
        left: 50px;
        top: -50px;
    }

    to {
        left: 50px;
        top: -50px;
        transform: rotateX(-90deg);
        transform-origin: bottom;
    }
}

@keyframes moveBottom {
    from {
        left: 50px;
        top: 150px;
    }

    to {
        left: 50px;
        top: 150px;
        transform: rotateX(90deg);
        transform-origin: top;
    }
}

@keyframes moveLeft {
    from {
        left: -50px;
        top: 50px;
    }

    to {
        left: -50px;
        top: 50px;
        transform: rotateY(90deg);
        transform-origin: right;
    }
}

@keyframes moveRight {
    from {
        left: 150px;
        top: 50px;
    }

    to {
        left: 150px;
        top: 50px;
        transform: rotateY(-90deg);
        transform-origin: left;
    }
}

@keyframes moveFront {
    from {
        opacity: 0;
        left: 50px;
        top: 50px;
    }

    to {
        left: 50px;
        top: 50px;
        opacity: 0.5;
        transform: translateZ(100px);
    }
}

@keyframes moveBack {
    from {
        left: 50px;
        top: 50px;
    }

    to {
        left: 50px;
        top: 50px;
        transform: translateZ(0);
    }
}

@keyframes move-Top {
    from {
        left: 50px;
        top: 50px;
    }

    to {
        left: 50px;
        top: -50px;
    }
}

@keyframes move-Bottom {
    from {
        left: 50px;
        top: 50px;
    }

    to {
        left: 50px;
        top: 150px;
    }
}

@keyframes move-Left {
    from {
        left: 50px;
        top: 50px;
    }

    to {
        left: -50px;
        top: 50px;
    }
}

@keyframes move-Right {
    from {
        left: 50px;
        top: 50px;
    }

    to {
        left: 150px;
        top: 50px;
    }
}

@keyframes matrix-translate3d {
    from {
        transform:translateZ(-300px);
    }
    to{
        transform:translateZ(-100px);
    }
}

@keyframes matrix-scale3d {
    from {
        transform:translate3d(20px,20px,0) translateZ(-150px) scale3d(1,1,1);
    }
    to {
        transform:translate3d(20px,20px,0) translateZ(-150px) scale3d(1,1,0);
    }
}

@keyframes matrix-rotate3d {
    from {
        transform: translateZ(-150px) rotate3d(0,0,0,0);
    }
    to {
        transform:translateZ(-150px) rotate3d(1,1,1,360deg);
    }
}