/*基本样式*/
html {
	height: 100%;
	color: white;
}

body {
	background: #161616;
	margin: 0;
	padding: 0;
	font: 12px normal Verdana, Arial, Helvetica, sans-serif;
	height: 100%;
}

.transform {
    position: relative;
    float: left;
    width: 170px;
    height: 200px;
    margin: 10px;
    vertical-align:middle;
    text-align: center;
    border: 1px solid whitesmoke;
    perspective: 100px;    
}

.transform p {
    margin: 5px 0;
    height: 20px;
    border-bottom: 1px solid whitesmoke;
}

.demo-block {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;    
    margin-left: -40px;
    margin-top: -30px;
    background-color: darkred;
}

.slide {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid whitesmoke;
    background-color: darkred;
    opacity: 0.5;
}

.slide span {
    position: relative;
    font-size: 40px;
    top: 25px;
}

.matrix {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;    
    margin-top: -100px;
    margin-left: -100px;    
    transform-style: preserve-3d;
    transform: translateZ(-150px);
    border:1px solid red;   
}

.top-static {
    left: 50px;
    top: -50px;
    transform: rotateX(-90deg);
    transform-origin: bottom;
}

.bottom-static {
    left: 50px;
    top: 150px;
    transform: rotateX(90deg);
    transform-origin: top;
}

.left-static {
    left: -50px;
    top: 50px;
    transform: rotateY(90deg);
    transform-origin: right;
}

.right-static {
    left: 150px;
    top: 50px;
    transform: rotateY(-90deg);
    transform-origin: left;
}

.front-static {
    left: 50px;
    top: 50px;
    transform: translateZ(100px);
}

.back-static {
    left: 50px;
    top: 50px;
    transform: translateZ(0);
}

/*变形样式*/
.transform-translate{
    animation: translate 2s infinite;
}

.transform-translate3d{    
    animation: translate3d 2s infinite;
}

.transform-translateX{
    animation: translateX 2s infinite;
}

.transform-translateY{
    animation: translateY 2s infinite;
}

.transform-translateZ{
    animation: translateZ 2s infinite;
}

.transform-scale {
    animation: scale 2s infinite;
}

.transform-scale3d {
    animation: scale3d 2s infinite;
}

.transform-scaleX {
    animation: scaleX 2s infinite;
}

.transform-scaleY {
    animation: scaleY 2s infinite;
}

.transform-scaleZ {
    animation: scaleZ 2s infinite;
} 

.transform-rotate {
    animation: rotate 2s infinite; 
}

.transform-rotate3d {
    animation: rotate3d 2s infinite;
}

.transform-rotateX {
    animation: rotateX 2s infinite; 
}

.transform-rotateY {
    animation: rotateY 2s infinite;
}

.transform-rotateZ {
    animation: rotateZ 2s infinite; 
}

.transform-skew {
    animation: skew 2s infinite; 
}

.transform-skewX {
    animation: skewX 2s infinite; 
}

.transform-skewY {
    animation: skewY 2s infinite;
}

.transform-perspective {
    animation: perspective 2s infinite;
}

.top {
    animation: move-Top 2s ease 1 0s both
        ,moveTop 3s ease 1 2s forwards
}

.bottom {
    animation: move-Bottom 2s ease 1 0s both
        ,moveBottom 3s ease 1 2s forwards
}

.left {
    animation: move-Left 2s ease 1 0s both
        ,moveLeft 3s ease 1 2s forwards
}

.right {
    animation: move-Right 2s ease 1 0s both
        ,moveRight 3s ease 1 2s forwards
}

.front {    
    animation: moveFront 5s ease 1 5s both;
}

.back {
    animation: moveBack 1s ease 1 0s both;
}

.matrix-animate {
    animation: matrix-translate3d 5s ease infinite 0s forwards
        /*,matrix-scale3d 5s ease infinite 5s forwards*/
        /*,matrix-rotate3d 5s ease infinite 10s forwards;*/
}