ul#loadbar {
	list-style:none;
	width:140px;
	margin:0 auto;
	padding-top:50px;
	padding-bottom:75px;
}
ul#loadbar li {
	float:left;
	position:relative;
	width:11px;
	height:26px;
	margin-left:1px;
	border-left:1px solid #111; border-top:1px solid #111; border-right:1px solid #333; border-bottom:1px solid #333; 
	background:#000;
}

ul#loadbar li:first-child { margin-left:0; }

.bar {
	background-color:#2187e7;  
	width:11px;
	height:26px;
	opacity: 0;
}

.ins .bar {	
	animation:fill .5s linear forwards;
}

#layerFill1 { animation-delay:0.5s; }
#layerFill2 { animation-delay:1s; }
#layerFill3 { animation-delay:1.5s; }
#layerFill4 { animation-delay:2s; }
#layerFill5 { animation-delay:2.5s; }
#layerFill6 { animation-delay:3s; }
#layerFill7 { animation-delay:3.5s; }
#layerFill8 { animation-delay:4s; }
#layerFill9 { animation-delay:4.5s; }
#layerFill10 { animation-delay:5s; }

@keyframes fill {
	0%{ opacity:0; }
	100%{ opacity:1; }	
}
